.purple-button:hover {
  background-color: #6d28d9 !important;
}

.blue-button:hover {
  background-color: #0369a1 !important;
}

.grid-layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 24px;
  flex: 1;
}

@media (min-width: 768px) {
  .grid-layout {
    grid-template-columns: 2fr 1fr;
  }
} 